.search-box {
    margin: auto;
    font-size: 1.5em;
    max-width: 50em;
    padding: 2em;
}

.search-form {
    margin-bottom: 1em;
}

.search-box input {
    height: 2em;
    width: calc(100% - 20px);
    margin-top: 0.5em;
}

.search-box button {
    height: 2em;
    width: 100%;
    margin-top: 1em;
    font-size: 0.8em;
}

.book-card{
    max-width: 16em;
    padding: 1em;
    font-size: 0.8em;
    margin-top: 1em !important;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.book-card img{
    width: 300px;
    height: 450px;
}

.book-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image-not-found {
    margin: auto;
    width: 300px;
    height: 450px;
    background-color: gray;
    text-align: center;
}

.image-not-found p{
    font-size: 3em;
    margin: 0;
    padding: 1em;
    color: white;
}

@media only screen and (max-width: 600px) {

    .search-box {
        font-size: 1em;
    }

    .search-form {
        margin-bottom: 1em;
    }

    .book-card{
        max-width: 16em;
        padding: 1em;
        font-size: 0.8em;
        margin-top: 1em !important;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    .book-card img{
        width: 150px;
        height: 225px;
    }

    .image-not-found {
        width: 150px;
        height: 225px;
    }
    
    .image-not-found p{
        font-size: 1.5em;
        padding: 1em;
    }

    .sort-by{
        margin-bottom: 1em;
    }

  }

  .sort-by{
      margin-bottom: 2em;
      text-align: right;
  }

  .sort-by label, select {
    font-size: 0.75em;
  }